body{
    text-align: center;
    background-color: #574d4f;
}
button{
    background-color:  #969091;
    color: #e0e4ce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
    size: 200px;
}
button:hover{
    background-color: #454545;
}
h3{
    color: #e0e4ce;
}
h2{
    color: #e0e4ce;
}
h1{
    color: #e0e4ce;
}   
.reset{
    margin-top: 3%;
}

.resp{
}